<div class="container mt-4">
  <div *ngIf="loading" class="alert alert-info">Loading...</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <div *ngIf="user" class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <img [src]="user.avatar_url" class="rounded-circle me-3" width="100" alt="Avatar">
        <div>
          <h3>{{ user.name || user.login }}</h3>
          <p><a [href]="user.html_url" target="_blank" class="btn btn-sm btn-outline-primary">View GitHub Profile</a></p>
        </div>
      </div>
      <p class="mt-3">{{ user.bio }}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Company: {{ user.company }}</li>
        <li class="list-group-item">Location: {{ user.location }}</li>
        <li class="list-group-item">Public Repos: {{ user.public_repos }}</li>
        <li class="list-group-item">Followers: {{ user.followers }}</li>
        <li class="list-group-item">Following: {{ user.following }}</li>
      </ul>
    </div>
  </div>
</div>
